<!DOCTYPE html>
<head>
<html>

        <title>Jornada do desenvolvedor</title>
        <body>
    </head>
        <div> <p>O meu blog que eu mesma criei seguindo o tutorial do Django Girls</p>
        <div> <a href="/">Jornada do desenvolvedor - por Ana Carolina de Sá</a></div>
            
        <!--Lista de objetos-->
        {%for post in posts%}
            <div>
                <p>published: {{post.published_date}}</p>
                <h2><a href="">{{post.title}}</a></h2> <!--Criando posts estáticos-->
                <p>{{[post.text|linebreaksbr}}</p>
            </div>
        {%endfor%}
            
            <h3>Topicos que preciso escrever</h3>
        <div>
            <ul><li>O que nunca me contaram</li></ul>
            <ul><li>Os desafios com o git: meu primeiro projeto em equipe</li></ul>
            <ul><li>Ser desenvolvedora: dicas para comecar sua jornada</li></ul>
            <ul><li>Not a mistake, just happy little accidents</li></ul>
        </div>
        
        
        
        
        
        
        <p>Hello World, btw</p> </div>
        
    </body>
</html>