<!--Estender templates-->
{% extends 'blog/base.html' %}
<!--Bloco-->
{% block content %} 
 <!--Lista de objetos-->
    {% for post in posts %}
        <div class="post">
            <div class="date">
                <p>published: {{post.published_date}}</p>
            </div>
            <!--Criando posts estáticos-->
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{post.title}}</a></h2> 
            <!--post_detail - Django espera uma URL no arquivo
                pk = post.pk - primary key(identificador unico de cada entrada no banco de dados) -->
            
            <p>{{ post.text|linebreaksbr }}</p> <!--linebreaksbr converte quebra de linha em paragrafo-->
        </div>
    {% endfor %}
{% endblock %}